@use '../abstract' as *;

.header {
    padding: 3rem;
    text-align: center;
    
    max-width: 110rem;
    margin: 0 auto;
    margin-bottom: 3rem;

    // &__logo {

    // }

    @include mq(tablet) {
        text-align: left;
    }

    @include mq(desktop) {
        padding: 8rem 3rem;
    }
}