$color-primary: #080C20;
$color-secondary: #093F68;
$color-tertiary: #3EE9E5;
$color-white: #fff;
$color-gray: #777F98;
$color-error: #FF2965;

$fontstack: 'Manrope', sans-serif;

$breakpoints: (
    'tablet': 37.5em,
    'desktop': 68.75em
);