@use '../abstract' as *;

html {
    font-size: 62.5%;
}

body {
    font-family: $fontstack;
    font-size: 1.5rem;
    color: $color-gray;
}

h1,h2,h3 {
    font-weight: 800;
}

p {
    font-weight: 200;
}

.primary-heading {
    font-size: 3.2rem;
    color: $color-white;

    &--highlight {
        display: inline-block;
        color: $color-tertiary;

        animation: rubberband 1s cubic-bezier(0.76, 0, 0.24, 1) forwards 1s;
    }

    @include mq(desktop) {
        font-size: 4.8rem;
    }
}

.section-title {
    font-size: 2.4rem;
    color: $color-white;
    margin: 0 auto;
}