@use '../abstract' as *;

.hero-section {
    margin-bottom: 14.4rem;

    @include mq(tablet) {
        margin-bottom: 10.9rem;
    }
}

.perks-section {
    padding: 0 2.4rem;
    margin-bottom: 14.4rem;
}

.plans-section {
    padding: 0 2.4rem;
    margin-bottom: 14.4rem;

    &__title {
        margin-bottom: 2rem;
    }

    &__title-container {
        max-width: 57.3rem;
        margin: 0 auto;
        margin-bottom: 7.9rem;
        text-align: center;

        @include mq(desktop) {
            margin-bottom: 10.5rem;
        }
    }
}